*.pyc
.vscode
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.png
*.out
eval
*.npz
**/tmp

.hypothesis
.pytest_cache
.mypy_cache
.vscode
assets/
templates/

data/
dispather_outputs/
output/
outputs/
paper_results/
submodules/
command_log.txt
